<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5b5d5772-835a-4a4b-b815-6f8e5376f725/resourceGroups/cheapgitpreprod/providers/Microsoft.Web/sites/cheapgitpreprod</ResourceId>
    <ResourceGroup>cheapgitpreprod</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>PreProd</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cheapgitpreprod.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cheapgitpreprod.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cheapgitpreprod</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$cheapgitpreprod</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="umbracoDbDSN" Order="1" Enabled="True">
          <Destination Path="Data Source=cheapgitpreprod.database.windows.net;Initial Catalog=Umbraco;Persist Security Info=True;User ID=MCPHERSONM;Password=DriveMyCar21$!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-G3KM7VK\SQLEXPRESS;Initial Catalog=Umbraco;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\umbracoDbDSN_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-G3KM7VK\SQLEXPRESS;Initial Catalog=Umbraco;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="umbracoDbDSN-Web.config Connection String">
      <ParameterValue>Data Source=cheapgitpreprod.database.windows.net;Initial Catalog=Umbraco;Persist Security Info=True;User ID=MCPHERSONM;Password=DriveMyCar21$!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>