@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.CategoryPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "_Master.cshtml";

    var categories = Model.Children<Products>();
}

<h1>@Model.Header</h1>

<p>@Model.PageDescription</p>
<div class="card-group">
    @foreach (var category in categories)
    {
        Html.RenderPartial("~/Views/Partials/_CategoryBlock.cshtml", category);
    }
</div>