@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Models
@{
    Layout = "_Master.cshtml";
}
@if (Model.ContentAreaHeadingVisible)
{
    <div class="page-heading">
        <h1 class="header">@Model.ContentAreaHeading</h1>
    </div>
}

<div class="page-content">
    @{ Html.RenderPartial("~/Views/Partials/_ContentBlocks.cshtml"); }
</div>