@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProductListViewModel>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Models
@using cheapgit.ViewModels.pages;
@{
    Layout = "_Master.cshtml";
}
@if ((bool) Model.Content.GetProperty("headerVisible").GetValue())
{
    <h1 class="header">@Model.Content.GetProperty("header").GetValue()</h1>
}

<h2>@Model.products.Count() results found</h2>
<div class="row">
    @if (Model.products != null)
    {
        foreach (var product in Model.products)
        {
            <div class="col-sm-6 col-md-4 col-lg-3 product-card-area">
                @{
                    Html.RenderPartial("~/Views/Partials/_ProductCard.cshtml", new cheapgit.ViewModels.blocks.ProductCardViewModel(Model.Content) { product = product }); }
            </div>

        }
    }

</div>