@inherits Umbraco.Web.Mvc.UmbracoViewPage<cheapgit.ViewModels.pages.ProductDetailsViewModel>
@using ContentModels = Umbraco.Web.PublishedModels;

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_Master.cshtml";
}

<h1>@Model.product.name</h1>
<div class="row">
    <div class="col-4">
        <img src="~/Media/j4bbqmlo/download.png" width="100%" />
    </div>
    <div class="col-6">
        @Model.product.description
    </div>
</div>

@{Html.RenderPartial("~/Views/Partials/_ProductDetailsTabs.cshtml", Model);}