@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Models;

@{
    var home = Model.Root();
    var searchPlaceholder = home.Value<string>("searchTheSitePlaceholder");
    var img = home.Value<IPublishedContent>("titleImage");
    
}

<div class="row header-area">
    <div class="col-lg-3">
        @if (img != null)
        {
            <a href="@home.Url"><img src="@img.Url" id="header-image" /></a>
        }
    </div>
    <div class="col-lg-8">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="@searchPlaceholder"/>
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary">@searchPlaceholder</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-1">
        
            <i class="fas fa-shopping-basket"></i>
        
    </div>
</div>
