@model cheapgit.ViewModels.pages.ProductDetailsViewModel
<script>
    $(document).ready(function () {
        $(".nav-tabs a").click(function () {
            $(".nav-tabs li a").each(function(i) {
                if ($(this).hasClass("active")) {
                    $(this).removeClass("active");
                    $($(this).attr("href")).removeClass("active");
                }
            });
            $(this).addClass("active");
            $($(this).attr("href")).addClass("active");
        });
    });
</script>

<ul class="nav-tabs nav nav-justified">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#details"><i style="font-size: xx-large;" class="fas fa-bars"></i><br><h3>Details</h3></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#reviews"><i style="font-size: xx-large;" class="fas fa-chart-pie"></i><br><h3>Reviews</h3></a>
    </li>
</ul>

<div class="tab-content">
    <div id="details" class="container tab-pane active">
        <ul>
            @{
                if (!String.IsNullOrWhiteSpace(Model.product.featureBullets))
                {
                    var points = Model.product.featureBullets.Split('\n');
                    foreach (var point in points)
                    {
                        <li>@point</li>
                    }
                }
            }
        </ul>
    </div>
    <div id="reviews" class="container tab-pane">
        @{Html.RenderAction(actionName:"GetProductRating", controllerName:"ProductReview", routeValues:new { content = Model.Content, productReviews = Model.reviews });}

        @if (Model.reviews.ToList().Count == 0)
        {
            <p>Be the first to comment on this item!</p>
        }
        @foreach (var review in Model.reviews)
        {
            if (review.flaggedInappropriate != 1)
            {
                <div class="media border p-3">

                    <i class="fas fa-user" style="font-size: 2rem;"></i>
                    <div class="media-body">
                        <h4>@review.commentTitle <small><i>Posted at @review.dateAdded</i></small></h4>
                        <p>@review.commentBody</p>
                    </div>
                </div>
            }
        }
    </div>
</div>




